
<div class="container">
  <h1>Articles</h1>

  <table>
    <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><strong><%= article.title %></strong></td>
        <td><%= article.description %></td>
        <td><%= link_to "Voir l'article", article_path(article) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
