<section class="container card p-4">
  <h1 class="card-title text-center border-bottom pb-4 mb-4">Nouvel Article</h1>

  <%= render 'form' %>

  <%= link_to "retourner à la liste", articles_path %>
</section>
